<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create CoopAgent</title>
    <style>
        td, th, table {
            padding: 5px;
            align-items: center;
            border: 2px solid;
        }
    </style>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        <table align="center"  border="2px solid">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
            <tr>
                <th colspan="2">Update Access History and Details</th>
            </tr>
            <tr>
                <td>Record Number (Current)
                    <input type="text" name="recordno" value="{{Department.recordno}}" disabled>
                </td>
                <td>Record Number (Update)
                    <input type="text" name="recordno" value="{{Historydepartment.recordno}}" disabled>
                </td>
            </tr>
            <tr>
                <td>Department Code (Current)
                    <input type="text" name="accesscode" value="{{Department.departmentcode}}" disabled>
                </td>
                <td>Department Code (Update)
                    <input type="text" name="accesscode" value="{{Historydepartment.departmentcode}}" disabled>
                </td>
            </tr>
            <tr>
                <td>Department Name (Current)
                    <input type="text" name="accessname" value="{{Department.departmentname}}">
                </td>
                <td>Department Name (Update)
                    <input type="text" name="accessname" value="{{Historydepartment.departmentname}}">
                </td>
            </tr>
            <tr>
                <td>Department Short Name (Current)
                    <input type="text" name="remarks" value="{{Department.departmentshortname}}">
                </td>
                <td>Department Short Name  (Update)
                    <input type="text" name="remarks" value="{{Historydepartment.departmentshortname}}">
                </td>
            </tr>
            <tr>
                <td>Remarks (Current)
                    <input type="text" name="remarks" value="{{Department.remarks}}">
                </td>
                <td>Remarks (Update)
                    <input type="text" name="remarks" value="{{Historydepartment.remarks}}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" class="btn btn-success" name="submit">
                    <input type="submit" value="Delete" class="btn btn-danger" name="delete">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>