<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create CoopAgent</title>
    <style>
        td, th, table {
            padding: 5px;
            align-items: center;
            border: 2px solid;
        }
    </style>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        <table align="center"  border="2px solid">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
            <tr>
                <th colspan="2">Update Access History and Details</th>
            </tr>
            <tr>
                <td>Doctor Code
                <input type="text" value="{{Historydoctor.doctorcode}}" name="doctorcode"disabled></td>
            </tr>
        
			<tr>
                <td>Specialization Name
                <select name="specializationcode" id="specializationcode">
                    {% for specialization in specializations %}
                        <option value="{{ specialization.specializationcode }}" {% if Historydoctor.specializationcode.specializationcode == specialization.specializationcode  %}selected{% endif %}>{{ specialization.specializationname }}</option>
                        {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td>Sub Specialization Name
                <select name="subspecializationcode" id="subspecializationcode">
                    {% for specialization in specializations %}
                        <option value="{{ specialization.specializationcode }}" {% if Historydoctor.specializationcode.specializationcode == specialization.specializationcode  %}selected{% endif %}>{{ specialization.specializationname }}</option>
                        {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td>First Name
                    <input type="text" name="firstname" value="{{Historydoctor.firstname }}">
                </td>
            </tr>
            <tr>
                <td>Middle Name
                    <input type="text" name="middlename" value="{{Historydoctor.middlename }}">
                </td>
            </tr>
            <tr>
                <td>Last Name
                    <input type="text" name="lastname" value="{{Historydoctor.lastname }}">
                </td>
            </tr>
            <tr>
                <td>Mobile Number
                    <input type="text" name="mobilenumber" value="{{Historydoctor.mobilenumber  }}">
                </td>
            </tr>
            <tr>
                <td>Landline Number
                    <input type="text" name="landlinenumber" value="{{Historydoctor.landlinenumber }}">
                </td>
            </tr>
            <tr>
                <td>Email Address
                <input type="text" value="{{ Historydoctor.emailaddres }}" name="emailaddres"></td>
            </tr> 
            <tr>
                <td>Address
                <input type="text" value="{{ Historydoctor.address }}" name="address"></td>
            </tr> 

            <tr>
                <td>Location Name
                    <select name="locationcode" id="locationcode">
                    {% for provider in providers %}
                        <option value="{{ provider.locationcode }}" {% if Historydoctor.locationcode.locationcode == provider.locationcode %}selected{% endif %}>{{ provider.address }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Professional Fee
               <input type="text" value="{{ Historydoctor.professionalfee }}" name="professionalfee"></td>
            </tr> 
            <tr>
                <td>Status Name
                    <select name="doctorstatuscode" id="doctorstatuscode">
                    {% for providerstatus in ProviderStatus %}
                        <option value="{{ providerstatus.providerstatuscode }}" {% if Historydoctor.doctorstatuscode.providerstatuscode == providerstatus.providerstatuscode %}selected{% endif %}>{{ providerstatus.statusname }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
				<td>Accredit Date
					<input type="date" name="accreditdate" value="{{ Historydoctor.accreditdate|date:'Y-m-d' }}"></td>
                 
			</tr>
			<tr>
				<td>Disaccredit Date
					<input type="date" name="disaccreditdate" value="{{ Historydoctor.disaccreditdate|date:'Y-m-d' }}"></td>
			</tr>
			<tr>
				<td>Reaccredit Date
					<input type="date"  name="reaccreditdate" value="{{ Historydoctor.reaccreditdate|date:'Y-m-d' }}"></td>
			</tr>

            <tr>
                <td>Remarks
                <input type="text" value="{{ Historydoctor.remarks }}" name="remarks"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" class="btn btn-success" name="submit">
                    <input type="submit" value="Delete" class="btn btn-danger" name="delete">
                </td>
            </tr>
        </table>
    </form>
    <script>
        const today = new Date();
        const isoString = today.toISOString().split('T')[0];
        const [year, month, day] = isoString.split('-');
        document.getElementById('accreditdate').value = `${month}-${day}-${year}`;
        document.getElementById('disaccreditdate').value = `${month}-${day}-${year}`;
        document.getElementById('reaccreditdate').value = `${month}-${day}-${year}`;
        
        </script>
</body>
</html>