<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create CoopAgent</title>
    <style>
        td, th, table {
            padding: 5px;
            align-items: center;
            border: 2px solid;
        }
    </style>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        <table align="center"  border="2px solid">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
            <tr>
                <th colspan="2">Update Access History and Details</th>
            </tr>

            <tr>
                <td>Doctor Code (Current)
                <input type="text" value="{{Doctor.doctorcode}}" name="doctorcode"disabled></td>
                <td>Doctor Code (Update)
                    <input type="text" value="{{Historydoctor.doctorcode}}" name="doctorcode"disabled></td>
            </tr>
        
			<tr>
                <td>Specialization Name (Current)
                <select name="specializationcode" id="specializationcode">
                    {% for specialization in specializations %}
                        <option value="{{ specialization.specializationcode }}" {% if Doctor.specializationcode.specializationcode == specialization.specializationcode  %}selected{% endif %}>{{ specialization.specializationname }}</option>
                        {% endfor %}
                </select>
            </td>
            <td>Specialization Name (Update)
                <select name="specializationcode" id="specializationcode">
                    {% for specialization in specializations %}
                        <option value="{{ specialization.specializationcode }}" {% if Historydoctor.specializationcode.specializationcode == specialization.specializationcode  %}selected{% endif %}>{{ specialization.specializationname }}</option>
                        {% endfor %}
                </select>
            </td>
            <tr>
                <td>First Name (Current)
                    <input type="text" name="firstname" value="{{Doctor.firstname }}">
                </td>
                <td>First Name (Update)
                    <input type="text" name="firstname" value="{{Historydoctor.firstname }}">
                </td>
            </tr>
            <tr>
                <td>Middle Name (Current)
                    <input type="text" name="middlename" value="{{Doctor.middlename }}">
                </td>
                <td>Middle Name (Update)
                    <input type="text" name="middlename" value="{{Historydoctor.middlename }}">
                </td>
            </tr>
            <tr> 
                <td>Last Name (Current)
                    <input type="text" name="lastname" value="{{Doctor.lastname }}">
                </td>
                <td>Last Name (Update)
                    <input type="text" name="lastname" value="{{Historydoctor.lastname }}">
                </td>
            </tr>
           
            <tr>
                <td>Mobile Number (Current)
                    <input type="text" name="mobilenumber" value="{{Doctor.mobilenumber  }}">
                </td>
                <td>Mobile Number (Update)
                    <input type="text" name="mobilenumber" value="{{Historydoctor.mobilenumber  }}">
                </td>
            </tr>
            <tr>
                <td>Landline Number (Current)
                    <input type="text" name="landlinenumber" value="{{Doctor.landlinenumber }}">
                </td>
                <td>Landline Number (Update)
                    <input type="text" name="landlinenumber" value="{{Historydoctor.landlinenumber }}">
                </td>
            </tr>
            <tr>
                <td>Email Address (Current)
                <input type="text" value="{{ Doctor.emailaddres }}" name="emailaddres">
                </td>
                <td>Email Address (Update)
                    <input type="text" value="{{ Historydoctor.emailaddres }}" name="emailaddres">
                </td>
            </tr> 
            <tr>
                <td>Address (Current)
                <input type="text" value="{{ Doctor.address }}" name="address"></td>
                <td>Address (Update)
                    <input type="text" value="{{ Historydoctor.address }}" name="address">
                </td>
            </tr> 

            <tr>
                <td>Location Name (Current)
                    <select name="locationcode" id="locationcode">
                    {% for provider in providers %}
                        <option value="{{ provider.locationcode }}" {% if Doctor.locationcode.locationcode == provider.locationcode %}selected{% endif %}>{{ provider.address }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>Location Name (Update)
                    <select name="locationcode" id="locationcode">
                    {% for provider in providers %}
                        <option value="{{ provider.locationcode }}" {% if Historydoctor.locationcode.locationcode == provider.locationcode %}selected{% endif %}>{{ provider.address }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Professional Fee (Current)
               <input type="text" value="{{ Doctor.professionalfee }}" name="professionalfee">
                </td>
               <td>Professional Fee (Update)
                <input type="text" value="{{ Historydoctor.professionalfee }}" name="professionalfee">
                </td>
            </tr> 
            <tr>
                <td>Status Name (Current)
                    <select name="doctorstatuscode" id="doctorstatuscode">
                        {% for doctorstatus in Doctorstatus %}
                        <option value="{{ doctorstatus.doctorstatuscode }}" {% if Doctor.doctorstatuscode.doctorstatuscode == doctorstatus.doctorstatuscode %}selected{% endif %}>{{ doctorstatus.statusname }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>Status Name (Update)
                    <select name="doctorstatuscode" id="doctorstatuscode">
                    {% for doctorstatus in Doctorstatus %}
                        <option value="{{ doctorstatus.doctorstatuscode }}" {% if Historydoctor.doctorstatuscode.doctorstatuscode == doctorstatus.doctorstatuscode %}selected{% endif %}>{{ doctorstatus.statusname }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
				<td>Accredit Date (Current)
					<input type="text" name="accreditdate" value="{{ Doctor.accreditdate }}">
                </td>

                <td>Accredit Date (Update)
                    <input type="text" name="accreditdate" value="{{ Historydoctor.accreditdate }}">
                </td>
			</tr>

            <tr>
				<td>Disaccredit Date (Current)
					<input type="date" name="disaccreditdate" value="{{ Doctor.disaccreditdate|date:'Y-m-d' }}">
                </td>
                <td>Disaccredit Date (Update)
					<input type="date" name="disaccreditdate" value="{{ Historydoctor.disaccreditdate|date:'Y-m-d' }}">
                </td> 
			</tr>


			<tr>
				<td>Reaccredit Date (Current)
					<input type="date"  name="reaccreditdate" value="{{ Doctor.reaccreditdate|date:'Y-m-d' }}">
                </td>
                <td>Reaccredit Date (Update)
					<input type="date"  name="reaccreditdate" value="{{ Historyprovider.reaccreditdate|date:'Y-m-d' }}">
                </td>
			</tr>

            <tr>
                <td>Remarks (Current)
                <input type="text" value="{{ Doctor.remarks }}" name="remarks">
                </td>
                <td>Remarks (Update)
                    <input type="text" value="{{ Historydoctor.remarks }}" name="remarks">
                    </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" class="btn btn-success" name="submit">
                    <input type="submit" value="Delete" class="btn btn-danger" name="delete">
                </td>
            </tr>
        </table>
    </form>
    <script>
        const today = new Date();
        const isoString = today.toISOString().split('T')[0];
        const [year, month, day] = isoString.split('-');
        document.getElementById('accreditdate').value = `${month}-${day}-${year}`;
        document.getElementById('disaccreditdate').value = `${month}-${day}-${year}`;
        document.getElementById('reaccreditdate').value = `${month}-${day}-${year}`;
        
    </script>  
</body>
</html>