{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <title>Create CoopAgent</title>
    <style>
        #coopinsert td, #coopinsert th, #coopinsert table {
            padding: 5px;
            align-items: center;
            border: 2px solid;
        }
    </style>
    
</head>
<body>
    
    <form method="post">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
        {% csrf_token %}
      
        <table align="center"  border="2px solid" >
         
			
            <tr>
                <td>First Name
                    <input type="text" name="firstname" id="firstname">
                </td>
            </tr>


            <tr>
                <td>Middle Name
                    <input type="text" name="middlename" id="middlename">
                </td>
            </tr>
            <tr>
                <td>Last Name
                    <input type="text" name="lastname" id="lastname">
                </td>
            </tr>
            <tr>
                <td>Suffix
                    <input type="text" name="suffix" id="suffix">
                </td>
            </tr>
            <tr>
                <td>Civil Status Code
                    <input type="text" name="civilstatuscode" id="civilstatuscode">
                </td>
            </tr>
            
            <tr>
                <td>Birth Day
                    <input type="date" name="birthdate" id="birthdate">
                </td>
            </tr>
            <tr>
                <td>Email Address
                    <input type="text" name="email" id="email">
              </td>
            </tr>
          
            <tr>
                <td>Department Name
                    <select name="departmentcode" id="departmentcode" class="reload-dropdown" required>
                    {% for department in departments %}
                        <option value="{{ department.departmentcode}}" required>{{department.departmentname}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Role
                    <select name="roleid" id="roleid" class="reload-dropdown"  required>
                        {% for roles in roless %}
                            <option value="{{ roles.roleid}}" required>{{roles.rolename}}</option>
                        {% endfor %}
                        </select>
                </td>
            </tr>
            <tr>
                <td>Mobile Number
                    <input type="tel" name="mobilenumber" id="mobilenumber" pattern="[0-9]{11}" maxlength="11">
                </td>
            </tr>
            <tr>
                <td>Address
                    <input type="text" name="address" id="address">
                </td>
            </tr>
            <tr>
                <td>Location Code
                    <input type="text" name="locationcode" id="locationcode">
                </td>
            </tr>
            <tr>
                <td>Remarks
                    <input type="text" name="remarks" id="remarks">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="submit" class="btn btn-success">
                </td>
            </tr>
        </table>
    </form>
    <script src="{% static 'js/custom.js' %}"></script>
<script>  
document.getElementById('birthdate').value = new Date().toISOString().split('T')[0];
document.getElementById('mobilenumber').addEventListener('input', function() {
    this.value = this.value.replace(/\D/g, '');
});
</script>

</body>
</html>