<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create CoopAgent</title>
    <style>
        td, th, table {
            padding: 5px;
            align-items: center;
            border: 2px solid;
        }
    </style>
</head>
<body>
    <form method="post">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
        {% csrf_token %}
        <table>
            <tr>
                <th>Medical Procedures Details</th>
            </tr>
            
            <tr>
				<td>Procedure Abbreviation Name
					<input type="text" id="procedureabbreviation" name="procedureabbreviation" >
                </td>
			</tr>
            <tr>
				<td>Procedure Name
					<input type="text" id="procedurename"   name="procedurename" >
                </td>
			</tr> 
            <tr>
				<td>Remarks
					<input type="text" id="remarks"   name="remarks" >
                </td>
			</tr>
            
           
            <tr>
                <td>
                    <input type="submit" value="submit" class="btn btn-success">
                </td>
            </tr>
        </table>
    </form>


</body>
</html>