<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create CoopAgent</title>
    <style>
        td, th, table {
            padding: 5px;
            align-items: center;
            border: 2px solid;
        }
    </style>
</head>
<body>
    <form method="post">
        
        {% csrf_token %}
        <table align="center"  border="2px solid">
            <tr>
                <th>Update Role Details</th>
            </tr>
            
			<tr>
                <td>Role Name
                    <input type="text" name="rolename" value="{{Roles.rolename}}">
                </td>
            </tr>
            <tr>
                <td>Display Name
                    <input type="text" name="roledisplayname" value="{{Roles.roledisplayname}}">
                </td>
            </tr>
            <tr>
                <td>Role Description
                    <input type="text" name="roledescription" value="{{Roles.roledescription}}">
                </td>
            </tr>
            
            <tr>
                <td>
                    <input type="submit" value="submit" class="btn btn-success">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>