<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create CoopAgent</title>
    <style>
        td, th, table {
            padding: 5px;
            align-items: center;
            border: 2px solid;
        }
    </style>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        <table align="center"  border="2px solid">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
            <tr>
                <th colspan="2">Update Medical Procedures History and Details</th>
            </tr>
            
           
            <tr>
                <td>Doctor Name (Current)
                    <select name="doctorcode" id="doctorcode">
                        {% for doctor in Doctor %}
                            <option value="{{ doctor.doctorcode }}" {% if Doctorroomfee.doctorcode.doctorcode == doctor.doctorcode  %}selected{% endif %}>{{ doctor.lastname}} {{ doctor.firstname}} {{ doctor.middlename}}</option>
                            {% endfor %}
                    </select>
                    </td>
                    <td>Doctor Name (Update)
                        <select name="doctorcode" id="doctorcode">
                            {% for doctor in Doctor %}
                                <option value="{{ doctor.doctorcode }}" {% if Historydoctorroomfee.doctorcode.doctorcode == doctor.doctorcode  %}selected{% endif %}>{{ doctor.lastname}} {{ doctor.firstname}} {{ doctor.middlename}}</option>
                                {% endfor %}
                        </select>
                    </td>
			</tr>

            <tr>
                <td>Room Name (Current)
                    <select name="roomcode" id="roomcode">
                        {% for roomtype in Roomtype %}
                            <option value="{{ roomtype.roomcode }}" {% if Doctorroomfee.roomcode.roomcode == roomtype.roomcode  %}selected{% endif %}>{{ roomtype.roomname }}</option>
                            {% endfor %}
                    </select>
                    </td>
                </td>
                <td>Room Name (Update)
                    <select name="roomcode" id="roomcode">
                        {% for roomtype in Roomtype %}
                            <option value="{{ roomtype.roomcode }}" {% if Historydoctorroomfee.roomcode.roomcode == roomtype.roomcode  %}selected{% endif %}>{{ roomtype.roomname }}</option>
                            {% endfor %}
                    </select>
                    </td>
			</tr> 
            <tr>
                <td>Amount (Current)
                <input type="text" value="{{ Doctorroomfee.amount }}" name="amount">
                </td>
                <td>Amount (Update)
                    <input type="text" value="{{ Historydoctorroomfee.amount }}" name="amount">
                    </td>
            </tr>

            <tr>
                <td>Remarks (Current)
					<input type="text"  name="remarks" value="{{Procedureprovider.remarks}}">
                </td> 
				<td>Remarks (Update)
					<input type="text"  name="remarks" value="{{Historydoctorroomfee.remarks}}">
                </td>
			</tr>
            
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" class="btn btn-success" name="submit">
                    <input type="submit" value="Delete" class="btn btn-danger" name="delete">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>