<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Approval Procedure</title>
</head>
<style>
    table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid;
    }
</style>

<body>
    <h2 style="text-align:center"> Medical Approval Procedure </h2>
    <table align="center" border="2px solid" id="membershow">
        <thead>
            <tr>
                <th>Procedure Code</th>
                <th>Doctor Code</th>
                <th>Professional Fee</th>
                <th>Confinement Amount</th>
                <th>Other Amount</th>
                <th>Remarks</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {% for approvalProcedure in approvalProcedureList %}
            <tr>
                <td>{{ approvalProcedure.procedurecode.procedurename }}</td>
                <td>{{ approvalProcedure.doctorcode.firstname }}  {{ approvalProcedure.doctorcode.lastname }}</td>
                <td>{{ approvalProcedure.professionalfee }}</td>
                <td>{{ approvalProcedure.confinementamount }}</td>
                <td>{{ approvalProcedure.otheramount }}</td>
                <td>{{ approvalProcedure.remarks }}</td>
                <td>
                    <a href="/medicalapprovalprocedure/edit/{{approvalProcedure.pk}}">Update</a>
                </td>
                <td>
                    <a href="/medicalapprovalprocedure/remove/{{approvalProcedure.pk}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

    <p>
        <a href="{% url 'approvalprocedureinsert' %}"><-- Go To Home Page</a>
    </p>
</body>

</html>