<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create CoopAgent</title>
    <style>
        td, th, table {
            padding: 5px;
            align-items: center;
            border: 2px solid;
        }
    </style>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        <table align="center"  border="2px solid">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
            <tr>
                <th colspan="2">Update Access History and Details</th>
            </tr>
            <tr>
                <td>Record Number (Current)
                    <input type="text" name="recordno" value="{{Category.recordno}}" disabled>
                </td>
                <td>Record Number (Update)
                    <input type="text" name="recordno" value="{{Historycategory.recordno}}" disabled>
                </td>
            </tr>
            <tr>
                <td>Coop Agent ID (Current)
                    <input type="text" name="categorycode" value="{{Category.categorycode}}"disabled>
                </td>
                <td>Coop Agent ID (Update)
                    <input type="text" name="categorycode" value="{{Historycategory.categorycode}}"disabled>
                </td>
            </tr>
            <tr>
                <td>Provider Category Name (Current)
                    <input type="text" name="providercategoryname" value="{{Category.providercategoryname }}"disabled>
                </td>
                <td>Provider Category Name (Update)
                    <input type="text" name="providercategoryname" value="{{Historycategory.providercategoryname }}"disabled>
                </td>
            </tr>
            <tr>
                <td>Provider Category Short Name (Current)
                    <input type="text" name="providercategoryshortname" value="{{Category.providercategoryshortname }}"disabled>
                </td>
                <td>Provider Category Short Name (Update)
                    <input type="text" name="providercategoryshortname" value="{{Historycategory.providercategoryshortname }}"disabled>
                </td>
            </tr>
            <tr>
                <td>Remarks (Current)
                    <input type="text" name="remarks" value="{{Category.remarks}}"disabled>
                </td>
                <td>Remarks (Update)
                    <input type="text" name="remarks" value="{{Historycategory.remarks}}"disabled>
                </td>
            </tr>
            <tr>
                <td>Order Number (Current)
                    <input type="text" name="ordernumber" value="{{Category.ordernumber }}"disabled>
                </td>
                <td>Order Number (Update)
                    <input type="text" name="ordernumber" value="{{Historycategory.ordernumber }}"disabled>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" class="btn btn-success" name="submit">
                    <input type="submit" value="Delete" class="btn btn-danger" name="delete">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>